*{
    box-sizing: border-box;
}
body
{
background-color: blue;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}
.container
{
    background-color: white;
    border-radius: 5px;
    box-shadow: 10px 20px 25px black ;
    overflow: hidden;
    max-width: 100%;
    width: 400px;
}
.header
{
    border-bottom: 1px solid black;
    background-color: grey;
    padding: 20px 40px;

}
.header h1{
    margin: 0;
    text-align: center;
}
.form
{
    padding: 20px 40px;
}
.form-control
{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}
.form-control label
{
    display: inline-block;
    margin-bottom: 5px;


}
.form-control input
{
    border: 2px solid wheat;
    border-radius: 4px;
    display: block;
    font-size:14px;
    padding: 10px;
    width: 100%;
}
.form-control.success input
{
    border-color: green;
}
.form-control.error input
{
    border-color:red;
}
.form-control i{
    visibility: hidden;
    position: absolute;
    top: 30px;
    right: 10px;

}
.form-control.success i.fa-check-circle
{
    color: green;
   
    visibility:visible;
}
.form-control.error i.fa-exclamation
{
    color:red;
    visibility:visible;

}
.form-control small
{
    color: red;
    position: absolute;
    left: 0;
    bottom: 0;
    visibility:hidden;
}
.form-control.error small
{
    visibility:visible;
}
.form button{
    background-color: blue;
    border: none;
    color: white;
    display: block;
    font-size: 16px;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    border-radius: 4px;
}